div#jobcunt {
  position:fixed !important;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 500 !important;
  background-color:#000;
  border: none;
  color: #222;
  overflow-x: hidden;
  overflow-y: auto;
}
img#jobberWallpaper {
  position:absolute;
  top: 0px;
  width: 100%;
  height: auto;
}

div#jobContent {
  position: relative;
  z-index: 503;
  margin: 15px 18% 100px 23%;
  display: block;
  text-align: center;
  color: #222;
}

div#jobContent .mono, div#jobContent .pc {
  color: #442222;
}
div#jobContent .npc {
  color: #222244;
}

div#jobContent > div:not(.squaredOne){
  position: relative;
  display: block;
  margin: 5px 10px 25px;
  padding: 5px 10px;
  background-color: rgba(255,255,255,0.8);
  border-width: 2px;
  border-style: solid;
  border-color: #888;
  border-radius: 8px;
  font-size: 110%;
  text-align: justify;
  color: #222;
  font-weight: 700;
}

div#jobInfo {
  position: fixed;
  z-index: 505;
  top: 10px;
  left: -445px;
  width: 450px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.8);
  color: #ddd;
  text-align: left;
  border-radius: 10px;
  opacity: 0.5;
  padding: 8px;
  transition: all 0.4s ease-in-out 0ms;
}

div#jobInfo:hover {
  opacity: 1;
  left: 5px;
}

img#JobberInfoButton:hover + div{
  opacity: 1;
  left: 5px;
}

img#JobberInfoButton {
  position: fixed;
  z-index: 504;
  top: 20px;
  left: 20px;
}

div#jobMotivateImg {
  position: fixed;
  bottom: 2px;
  right: 2px;
  height: 256px;
  width: 256px;
  z-index: 506;
  opacity: 0.75;
  border: none;
  background-color: transparent;
}
div#jobMotivateImg:hover {
  opacity: 1;
}
.jobpass {
  color: #005500;
}
.jobfail {
  color: #550000;
}