#gameMenu {
  position: fixed;
  z-index: 101;
  top: 330px;
  left: 2px;
  width: 280px;
  height: 600px;
  border: none;
  overflow: hidden;
  opacity: 0;
  margin: 0px;
  padding: 0px;
  transition: all 0.2s ease-in-out 0ms;
}
#gameMenu:hover {
  opacity: 1;
}
#gameMenu img.menuImg {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: inherit;
}

#gameMenuButtons {
  position: absolute;
  top: 60px;
  left: 20px;
  right: 20px;
  bottom: 50px;
  z-index: 102;
  overflow: hidden;
  border: none;
  margin: 0px;
  padding: 0px;
}
#gameMenuButtons div.systemButt {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 130px;
  height: 85px;
  border: none;
  margin: 0px;
  padding: 0px;
  z-index: inherit;
}
#gameMenuButtons div.systemButt button {
  width: 120px;
  height: 24px;
  margin: 0px auto 2px;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: #DDD;
  color: #DDD;
  font-family: Megrim, sans-serif;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 0px 0px 3px #000;
  background: rgba(76,76,76,1);
  background: -moz-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(50%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
  background: -webkit-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: -o-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
}
#gameMenuButtons div.systemButt button:hover {
  border-color: #4bb7ff;
  color: #4bb7ff;
}
#gameMenuButtons div.gameButt {
  position: absolute;
  top: 30px;
  left: 0px;
  right: 0px;
  height: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
}

#gameMenuButtons div.gameButt img{
  display: inline-block;
  opacity: 0.8;
  margin: 0px;
}
#gameMenuButtons div.gameButt img:nth-child(-n+3){
  margin-top: 5px;
}
#gameMenuButtons div.gameButt img:hover{
  opacity: 1;
}

#gameMenuButtons div.actionButt {
  position: absolute;
  top: 340px;
  right: 0px;
  left: 0px;
  bottom: 90px;
  z-index: inherit;
  border-width: 2px;
  border-style: solid;
  border-color: #444;
  border-radius: 5px;
  background-color: rgba(0, 0, 0,0.4);
}

#menu-backward-compat {
  position: fixed;
  z-index: 105;
  top: 768px;
  left: 155px;
  height: 115px;
  width: 80px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#dispcanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -20;
  cursor: none;
}

#ui-bar-phone {
  position: fixed;
  z-index: 55;
  top: 330px;
  left: 2px;
  width: 280px;
  height: 600px;
}
#ui-bar-phone-bg {
  position: fixed;
  z-index: 51;
  top: 330px;
  left: 2px;
  width: 280px;
  height: 600px;
}
#phoneDatas {
  position: fixed;
  z-index: 53;
  top: 355px;
  height: 550px;
  left: 12px;
  width: 260px;
}
#uiReminder {
  z-index: 52;
  position: absolute;
  left: 6px;
  right: 6px;
  top: 125px;
  height: 150px;
  margin: auto;
  margin-top: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #8e014a;
  border-radius: 8px;
  overflow: hidden;
  padding: 2px 5px;
  background-color: rgba(0,0,0,0.4);
}
#statusDisplayBox {
  position: absolute;
  left:5px;
  right:5px;
  top:300px;
  border-radius:6px;
}
img.small-phone-display {
position:fixed;
top:2px;
left:2px;
width:280px;
height:328px;
z-index:100;
}
#smallUIleftButt {
  position: fixed;
  top: 281px;
  height: 48px;
  left: 2px;
  width: 68px;
  z-index: 103;
  opacity: 0;
}
#smallUIcentButt {
  position: fixed;
  top: 281px;
  height: 48px;
  left: 70px;
  width: 144px;
  z-index: 103;
  opacity: 0;
}
#smallUIriteButt {
  position: fixed;
  top: 281px;
  height: 48px;
  left: 214px;
  width: 68;
  z-index: 103;
  opacity: 0;
}
#smallUIleftButt:hover {
  opacity: 1;
}
#smallUIcentButt:hover {
  opacity: 1;
}
#smallUIriteButt:hover {
  opacity: 1;
}
img.small-phone-twatter {
  position:fixed;
  top:2px;
  left:2px;
  width:280px;
  height:328px;
  z-index:90;
}
div.small-phone-twatterA {
  position:fixed;
  top: 98px;
  left: 20px;
  width: 110px;
  height: 170px;
  z-index: 95;
  font-family: TitilliumWeb;
  font-size: 20px;
  text-align: left;
  overflow: hidden;
  color: rgb(0, 30, 58);
  padding: 0px;
  margin: 0px;
}
div.small-phone-twatterB {
  position:fixed;
  top: 98px;
  left: 150px;
  width: 110px;
  height: 170px;
  z-index: 95;
  font-family: TitilliumWeb;
  font-size: 20px;
  text-align: left;
  overflow: hidden;
  color: rgb(0, 30, 58);
  padding: 0px;
  margin: 0px;
}
div.timeDateDisp {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  width: 250px;
  height: 96px;
  border-radius: 6px;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
}
div.timeDateDisp img{
  display: inline-block;
}

div#portrait-container {
  position: fixed;
}

#right-sidebar-portrait {
  height: 305px;
  position: absolute;
  left: 5px;
  right: 5px;
  top: 48px;
  border-width: 2px;
  border-style: solid;
  border-color: #8e014a;
  border-radius: 10px;
  z-index: 52;
  overflow: hidden;
  text-align: justify;
  background-size: 100%;
  background-image: [img[IMGgradient]];
}

#right-sidebar-portrait img {
  position: absolute;
  display: block;
  border: none;
}

#right-sidebar-portraitTEST {
  height: 305px;
  position: absolute;
  left: 900px;
  width: 270px;
  top: 100px;
  border-width: 2px;
  border-style: solid;
  border-color: #8e014a;
  border-radius: 10px;
  z-index: 52;
  overflow: hidden;
  text-align: justify;
  background-size: 100%;
  background-image: [img[IMGgradient]];
}

#right-sidebar-portraitTEST img {
  position: absolute;
  display: block;
  border: none;
}

.right-sidebar-portrait-class img {
  height: 300px;
  opacity: 1;
  z-index: 55;
  left: 1px;
  bottom: 0px;
}
.portrait-above0 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 55;
}
.portrait-above1 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 56;
}
.portrait-above2 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 57;
}
.portrait-above3 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 58;
}
.portrait-above4 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 59;
}
.portrait-above5 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 60;
}
.portrait-above6 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 61;
}
.portrait-above7 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 62;
}
.portrait-above8 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 63;
}
.portrait-above9 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 64;
}
.portrait-above10 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 65;
}
.portrait-above11 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 66;
}
.portrait-above12 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 67;
}
.portrait-above13 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 68;
}
.portrait-above14 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 69;
}

.right-sidebar-portrait-bg img {
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  opacity: 1;
  z-index: 51;
}

.rsp-blue {
  background-color: rgb(0, 128, 255);
}

.rsp-deepblue {
  background-color: rgb(0, 83, 161);
}

.rsp-orange {
  background-color: rgb(221, 126, 17);
}

.rsp-grey {
  background-color: rgb(100, 100, 100);
}

.rsp-pink {
  background-color: rgb(248, 115, 166);
}

#portrait-left-button img {
  position: absolute;
  border: none;
  margin: none;
  left: 8px;
  bottom: 7px;
  opacity: 1;
  z-index: 75;
  background-color: rgba(50, 50, 50, 0.8);
}

#portrait-left-button img:hover {
  opacity: 1;
  background-color: rgba(250, 151, 164, 0.9);
}

#portrait-expand-button img {
  position: absolute;
  border: none;
  margin: none;
  left: 41px;
  bottom: 7px;
  opacity: 1;
  z-index: 75;
  background-color: rgba(50, 50, 50, 0.8);
}

#portrait-expand-button img:hover {
  opacity: 1;
  background-color: rgba(250, 151, 164, 0.9);
}

#portrait-right-button img {
  position: absolute;
  border: none;
  margin: none;
  right: 8px;
  bottom: 7px;
  opacity: 1;
  z-index: 75;
  background-color: rgba(50, 50, 50, 0.8);
}

#portrait-right-button img:hover {
  opacity: 1;
  background-color: rgba(250, 151, 164, 0.9);
}

#portrait-player-button img {
  position: absolute;
  border: none;
  margin: none;
  right: 41px;
  bottom: 7px;
  opacity: 1;
  z-index: 75;
  background-color: rgba(50, 50, 50, 0.8);
}

#portrait-player-button img:hover {
  opacity: 1;
  background-color: rgba(250, 151, 164, 0.9);
}

#portrait-character-name {
  position: absolute;
  right: 73px;
  left: 74px;
  bottom: 7px;
  height: 22px;
  border-color: rgb(179, 64, 74);
  border-width: 1px;
  border-style: solid;
  font-family: Lato, sans-serif;
  text-align: center;
  vertical-align: middle;
  background: rgba(50, 50, 50, 0.8);
  color: white;
  overflow: hidden;
  font-size: 16px;
  padding: 2px;
  padding-top: 3px;
  z-index: 75;
}

#portrait-character-name:hover {
  opacity: 1;
  background-color: rgba(250, 151, 164, 0.9);
}