/*
██████╗ ██████╗ ██╗███╗   ███╗ █████╗ ██████╗ ██╗   ██╗
██╔══██╗██╔══██╗██║████╗ ████║██╔══██╗██╔══██╗╚██╗ ██╔╝
██████╔╝██████╔╝██║██╔████╔██║███████║██████╔╝ ╚████╔╝
██╔═══╝ ██╔══██╗██║██║╚██╔╝██║██╔══██║██╔══██╗  ╚██╔╝
██║     ██║  ██║██║██║ ╚═╝ ██║██║  ██║██║  ██║   ██║
╚═╝     ╚═╝  ╚═╝╚═╝╚═╝     ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝

 ██████╗███████╗███████╗    ███████╗██╗██╗     ███████╗
██╔════╝██╔════╝██╔════╝    ██╔════╝██║██║     ██╔════╝
██║     ███████╗███████╗    █████╗  ██║██║     █████╗
██║     ╚════██║╚════██║    ██╔══╝  ██║██║     ██╔══╝
╚██████╗███████║███████║    ██║     ██║███████╗███████╗
 ╚═════╝╚══════╝╚══════╝    ╚═╝     ╚═╝╚══════╝╚══════╝
*/


@import "01-Variables";

@import "02-Mixins";

@import "03-TextStyling";

@import "Animated-Night-Sky";

@import "GlowingProgressBars";

@import "dateSpots";

@import "backgroundConversion";

@import "simplePbar";

@import "SexScenes";

@import "ItemCheats";

@import "BodyPortraits";

@import "LilysLab";

@import "npcTemplateMenu";

/* TEMPORARY TESTING AREA - Migrate to proper file when finished! */

div#svgPortraitCunt {
  margin-left: 75px;
  svg {
    height: 275px;
    width: auto;
  }
}

div.background1 {
  @include background-pattern1;
}

iframe#tomfuckery {
  display: block;
  width: 98%;
  height: 95%;
  margin: 0px auto;
  padding: 0px;
  border: 2px solid #606060;
}

.jobEventImage {
  float: right;
  margin: 0px 0px 30px 30px;
  border-radius: 4px;
}

div#childDisplay {
  font-family: $fontMonospace;
  border-top: 1px solid #eee;
  span.head {
    font-family: $fontMonospace;
    font-weight: bold;
  }
  div {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 5px 10px;
    margin: 5px;
    width: 45%;
    background-color: rgba(0,0,0,0.8);
  }
}

div.ui-tabs-panel {
  overflow-y: auto;
}

div#WorldMapCunt {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  margin: 0px;
  padding: 0px;
  background-color: black;
  overflow: hidden;
  img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2000px;
    height: 1100px;
  }
}

