/*
██████╗ ██████╗ ██╗███╗   ███╗ █████╗ ██████╗ ██╗   ██╗
██╔══██╗██╔══██╗██║████╗ ████║██╔══██╗██╔══██╗╚██╗ ██╔╝
██████╔╝██████╔╝██║██╔████╔██║███████║██████╔╝ ╚████╔╝
██╔═══╝ ██╔══██╗██║██║╚██╔╝██║██╔══██║██╔══██╗  ╚██╔╝
██║     ██║  ██║██║██║ ╚═╝ ██║██║  ██║██║  ██║   ██║
╚═╝     ╚═╝  ╚═╝╚═╝╚═╝     ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝

 ██████╗███████╗███████╗    ███████╗██╗██╗     ███████╗
██╔════╝██╔════╝██╔════╝    ██╔════╝██║██║     ██╔════╝
██║     ███████╗███████╗    █████╗  ██║██║     █████╗
██║     ╚════██║╚════██║    ██╔══╝  ██║██║     ██╔══╝
╚██████╗███████║███████║    ██║     ██║███████╗███████╗
 ╚═════╝╚══════╝╚══════╝    ╚═╝     ╚═╝╚══════╝╚══════╝
*/


@import "01-Variables";

@import "02-Mixins";

@import "03-TextStyling";

@import "Animated-Night-Sky";

@import "GlowingProgressBars";

@import "dateSpots";

@import "backgroundConversion";

@import "simplePbar";

/* TEMPORARY TESTING AREA - Migrate to proper file when finished! */

div#svgPortraitCunt {
  margin-left: 75px;
  svg {
    height: 275px;
    width: auto;
  }
}

div.background1 {
  @include background-pattern1;
}

iframe#tomfuckery {
  display: block;
  width: 98%;
  height: 95%;
  margin: 0px auto;
  padding: 0px;
  border: 2px solid #606060;
}
