/*
██╗   ██╗ █████╗ ██████╗ ██╗ █████╗ ██████╗ ██╗     ███████╗███████╗
██║   ██║██╔══██╗██╔══██╗██║██╔══██╗██╔══██╗██║     ██╔════╝██╔════╝
██║   ██║███████║██████╔╝██║███████║██████╔╝██║     █████╗  ███████╗
╚██╗ ██╔╝██╔══██║██╔══██╗██║██╔══██║██╔══██╗██║     ██╔══╝  ╚════██║
 ╚████╔╝ ██║  ██║██║  ██║██║██║  ██║██████╔╝███████╗███████╗███████║
  ╚═══╝  ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝╚══════╝

Stores scss variables to be used in other files for universal style
settings. Add variables HERE unless it is file specific and won't be
reused. Use a variable prefix (like filename acronym) to avoid the
chance of overwriting a main variable found here. ex: $DS-margin
*/

/***************************
    FONTS
***************************/

$fontArab: Almendra, serif;
$fontHandMessy:ArchitectsDaughter, cursive;
$fontEmphasis: Comfortaa, sans-serif;
$fontCurly: Gabriela, serif;
$fontNiceHumanist: Lato, sans-serif;
$fontTitle: Megrim, sans-serif;
$fontMonospace: NovaMono, monospace;
$fontHumanist: OpenSans, sans-serif;
$fontSans: Questrial, sans-serif;
$fontLabel: TitilliumWeb, sans-serif;
$fontPrint: Vollkorn, serif;
$fontHand: WalterTurncoat, hand;
$fontComputer: VT323, monospace;
$fontElegant: Fraktur, serif;
/*
$fontArab:"Comic Sans MS";
$fontHandMessy:"Comic Sans";
$fontEmphasis:"Comic Sans MS";
$fontCurly:"Comic Sans MS";
$fontNiceHumanist:"Comic Sans MS";
$fontTitle:"Comic Sans MS";
$fontMonospace:"Comic Sans MS";
$fontHumanist:"Comic Sans MS";
$fontSans:"Comic Sans MS";
$fontLabel:"Comic Sans MS";
$fontPrint:"Comic Sans MS";
$fontHand:"Comic Sans MS";
$fontComputer:"Comic Sans MS";
$fontElegant:"Comic Sans MS";
*/
/***************************
    BASIC COLORS
***************************/

$cAqua: mediumaquamarine;
$cAquaMarine: aquamarine;
$cCoral: coral;
$cCyan: cyan;
$cDarkGoldrod: darkgoldenrod;
$cDarkGreen: green;
$cDarkRed: darkred;
$cDarkSea: seagreen;
$cDarkViolet: darkviolet;
$cDeepPink: deeppink;
$cDeepSky: deepskyblue;
$cGold: gold;
$cGoldrod: goldenrod;
$cGrey: #999999;
$cGreen: limegreen;
$cIvory: ivory;
$cLace: oldlace;
$cLawn: lawngreen;
$cLiteCoral: lightcoral;
$cLightGreen: lightgreen;
$cLightGrey: #CCCCCC;
$cLightPink: lightpink;
$cLightSalmon: lightsalmon;
$cLime: lime;
$cMagenta: magenta;
$cOrange: orange;
$cOrangeRed: orangered;
$cPurple: mediumorchid;
$cRed: red;
$cSea: mediumseagreen;
$cSpring: springgreen;
$cTan: tan;
$cYellow: yellow;
$cYellowGreen: yellowgreen;
$cWhite: white;


/*****************************
    SPECIAL COLORS
*****************************/

$cShip: deepskyblue;
$cMoney: yellowgreen;
$cIdent: #0befeb;
$cHeader: #69BCFF;
$cChange: gold;
$cGood: limegreen;
$cBad: #ff5454;
$cPeepGood: mediumaquamarine;
$cPeepBad: #ff8f4f;
$cPC: #ffbcd3;
$cNPC: #93e7ff;
$cNPD: #93ffb3;
$cNPE: #f9ffaf;
$cMono: #ffbcd3;
$cInstruct: #f9ffaf;
$cNote: white;
$cExplain: oldlace;
$cCommentary: deepskyblue;
$cClock: white;
$cWarning: #ff5100;
$cDarkWarn: #df4600;
$cComputer: #7ddcfc;
$cAW: #ff044f;
$cImportant: yellow;
$cBesty: #ff4e4e;

