/*
 █████╗ ███╗   ██╗██╗███╗   ███╗ █████╗ ████████╗███████╗██████╗
██╔══██╗████╗  ██║██║████╗ ████║██╔══██╗╚══██╔══╝██╔════╝██╔══██╗
███████║██╔██╗ ██║██║██╔████╔██║███████║   ██║   █████╗  ██║  ██║
██╔══██║██║╚██╗██║██║██║╚██╔╝██║██╔══██║   ██║   ██╔══╝  ██║  ██║
██║  ██║██║ ╚████║██║██║ ╚═╝ ██║██║  ██║   ██║   ███████╗██████╔╝
╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝╚═╝     ╚═╝╚═╝  ╚═╝   ╚═╝   ╚══════╝╚═════╝

███╗   ██╗██╗ ██████╗ ██╗  ██╗████████╗    ███████╗██╗  ██╗██╗   ██╗
████╗  ██║██║██╔════╝ ██║  ██║╚══██╔══╝    ██╔════╝██║ ██╔╝╚██╗ ██╔╝
██╔██╗ ██║██║██║  ███╗███████║   ██║       ███████╗█████╔╝  ╚████╔╝
██║╚██╗██║██║██║   ██║██╔══██║   ██║       ╚════██║██╔═██╗   ╚██╔╝
██║ ╚████║██║╚██████╔╝██║  ██║   ██║       ███████║██║  ██╗   ██║
╚═╝  ╚═══╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝       ╚══════╝╚═╝  ╚═╝   ╚═╝
*/

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};

}

@include keyframes(move-twink-back) {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@include keyframes(move-sky_clouds-back) {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

@include keyframes(aurora) {
  0% {
    background-position: left top;
  }

  25% {
    background-position: right top;
  }

  50% {
    background-position: right bottom;
  }

  75% {
    background-position: left bottom;
  }

  100% {
    background-position: left top;
  }
}

.sky_stars,
.sky_twinkling,
.sky_clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-repeat: repeat;
  background-position: top center;
}

.sky_stars {
  background: #000;
  z-index: 501;
}

.sky_twinkling {
  background-color: transparent;
  z-index: 502;
  @include animation(move-twink-back 200s linear infinite);
}

.sky_clouds {
  background-color: transparent;
  z-index: 503;
  @include animation(move-sky_clouds-back 300s linear infinite);
}

.sky_cunt {
  background-color: rgb(0, 0, 10);
  z-index: 500;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  div#butthold {
    position: fixed;
    z-index: 9999;
    bottom: 15px;
    right: 250px;
    padding: 5px;
    background-color: rgba(230, 230, 230, 0.85);
    border-width: 3px;
    border-style: solid;
    border-color: rgb(245, 245, 245);
    border-radius: 20px;
    button {
      font-family: Megrim;
      font-size: 26px;
      height: 50px;
      color: #eee;
      background-image: none;
      background-color: #333;
      border-width: 2px;
      border-style: solid;
      border-color: #555;
      border-radius: 12px;
      padding: 4px;
      margin: 5px;
    }
    button:hover {
      background-color: #555;
      border-color: #777;
    }
  }
}

.sky_content {
  position: relative;
  z-index: 505;
  margin: 55px 150px 100px 150px;
  display: block;
  text-align: center;
}

/*#FF0080   DD8C00*/
.aurora-outer {
  background: linear-gradient(30deg, rgb(133, 89, 214) 0%, #40E0D0 50%, #34d449 100%);
  background-size: 200%;
  @include animation(aurora 10s infinite);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 501;
}

.aurora-inner {
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-size: 200%;
  @include animation(aurora 7s infinite);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 502;
}

.title {
  position: absolute;
  top: 3%;
  left: 0;
  right: 0;
  margin: 0;
  transform: translateY(-50%);
  font-size: 1.6rem;
  text-align: center;
  color: white;
  font-family: Megrim;
  font-weight: 800;
}