/*
Background Conversion - Removing conflicting image-based backgrounds
Temporary... should be reintegrated with converted css files in new scss files.
*/


div#uiGroomingMenu,
div#uiJewelryMenu {
  @include background-pattern3;
}

#cardback,
.dgreyPattern,
div#mainshits div#storeWindow {
  @include background-pattern1;
}

.dragZone {
  @include dragzone-background;
}

div.homeTrash {
  @include dragzone-delete;
}

.menu-bg {
  @include background-pattern2;
}

div#advent {
  position: fixed;
  display: block;
  top: 0px;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  right: 0px;
  z-index: 5000;
  padding: 50px 20% 20px 20%;
  font-family: $fontComputer;
  font-size: 1.5rem;
  color: $cLime;
  line-height: 1.8;
  background-color: #0a0a12;
  overflow-y: auto;
  p {
    font-family: $fontComputer;
    line-height: 1.8;
  }
  button {
    border: none;
    border-radius: 0px;
    color: $cLime;
    background-color: #0a0a12;
    font-family: $fontComputer;
    font-size: 1.5rem;
    text-align:center;
    padding: 10px;
    margin: 10px;
    text-transform: uppercase;
  }
  button:hover {
    color: #0a0a12;
    background-color: $cLime;
  }
}
