
img.bodyPortrait {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
}

img.skinpale{
  filter:hue-rotate(350deg) contrast(110%) saturate(1.5);
}
img.skinfair{
  filter:hue-rotate(355deg) brightness(95%) saturate(2);
}
img.skintanned{
  filter: hue-rotate(355deg) brightness(90%) contrast(95%) saturate(4) brightness(95%) contrast(95%) saturate(0.95);
}
img.skinbronzed{
  filter: hue-rotate(350deg) brightness(85%) contrast(90%) saturate(8) brightness(90%) contrast(90%) saturate(0.9);
}
img.skinlight{
  filter:brightness(90%) contrast(95%) saturate(4);
}
img.skindusky{
  filter:hue-rotate(358deg) contrast(90%) brightness(90%) saturate(4) brightness(90%) contrast(90%) saturate(3) brightness(90%) saturate(0.80);
}
img.skindark{
  filter: hue-rotate(358deg) contrast(85%) brightness(90%) saturate(5) brightness(85%) contrast(85%) saturate(3) brightness(85%) saturate(0.8);
}
img.skinlight-brown{
  filter: hue-rotate(350deg) contrast(80%) brightness(90%) saturate(4) brightness(85%) contrast(90%) saturate(4) brightness(85%) saturate(0.6);
}
img.skinbrown{
  filter: hue-rotate(350deg) contrast(75%) saturate(5) brightness(70%) saturate(5) brightness(70%) contrast(80%) saturate(0.7);
}
img.skindark-brown{
  filter: hue-rotate(350deg) contrast(75%) saturate(7) brightness(60%) saturate(6) brightness(60%) contrast(80%) saturate(0.7);
}
img.skinmidnight{
  filter: hue-rotate(350deg) contrast(75%) brightness(70%) saturate(7) brightness(60%) saturate(6) brightness(60%) contrast(80%) saturate(0.5);
}

