
$spotWidth: 480px;
$spotPadding: 5px;
$spotMargin: 8px;
$spotHeight: 80px;
$spotBorder: 2px;

$containerWidth: ($spotWidth * 2) + ($spotPadding * 4) + ($spotMargin * 4) + ($spotBorder * 4) + 10px;


div#dateLocationPicker {
  display: inline-flex;
  position: relative;
  width: $containerWidth;
  padding: 0px 10px 0px 0px;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  border: 3px solid #c0c0c0;
  max-height: 500px;
  margin: 10px auto;
  overflow-y: auto;
  div#pickerSectionHead {
    height: $spotHeight / 2;
    width: ($spotWidth * 2) + ($spotPadding * 4) + ($spotMargin * 2) + 10px + ($spotBorder * 2);
    border: 2px solid #d0d0d0;
    border-radius: 6px;
    margin: $spotMargin;
    margin-bottom: 0px;
    text-align: center;
    background-color: #303030;
    background-image: none;
    color: #d0d0d0;
    font-size: 30px;
  }
  div#date-spot-print {
    height: $spotHeight;
    width: $spotWidth;
    padding: $spotPadding;
    border: 2px solid #d0d0d0;
    border-radius: 6px;
    margin: $spotMargin;
    text-align: center;
    background-color: #303030;
    background-image: none;
    color: #d0d0d0;
    font-family: Questrial;
    font-size: 20px;
    line-height: 1.2;
    cursor: pointer;
    img {
      float: left;
      max-height: $spotHeight;
      width: auto;
      margin: 0px 5px 0px 0px;
      border-radius: 5px;
    }
    b {
      color: #e0e0e0;
    }
  }
  div#date-spot-print:hover {
    border-color: #f0f0f0;
    color: #f0f0f0;
  }
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}
