
div#itemCheats {
  position: relative;
  display: inline-flex;
  width: 98%;
  margin: 10px 0px 25px 0px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
  div {
    position: relative;
    max-width: 48%;
    min-width: 360px;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 5px;
    min-height: 160px;
    img {
      width: 150px;
      height: 150px;
      position: absolute;
      top: 5px;
      left: 5px;
      border-radius: 2px;
    }
    p {
      position: absolute;
      top: 5px;
      left: 160px;
      right: 5px;
      bottom: 5px;
    }
  }
}


