
div#LabContainer {
  position: fixed;
  z-index: 55;
  left: 290px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background-color: #000;
  div#progressBar {
    @include background-pattern3;
    position: absolute;
    top: 5px;
    height: 50px;
    left: 5px;
    right: 15px;
    padding: 10px;
    border: 2px solid #cccccc;
    border-radius: 5px;
    z-index: 55;
    div {
      position: absolute;
      top: 45px;
      bottom: 5px;
      left: 5px;
      right: 5px;
      padding: 0px;
      border: 1px solid #fff;
      background-color: #000;
      border-radius: 10px;
      overflow: hidden;
      div {
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        background-image: linear-gradient(rgb(71, 209, 255), rgb(0, 173, 231));
        border-radius: 0px;
        border: none;
      }
    }
  }
  div#tasksList {
    @include background-pattern3;
    position: absolute;
    top: 85px;
    right: 15px;
    width: 400px;
    height: 660px;
    padding: 10px;
    border: 2px solid #cccccc;
    border-radius: 5px;
    z-index: 55;
    font-size: 1.4rem;
    overflow: hidden;
  }
  div#contentBox {
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    right: 500px;
    left: 25px;
    top: 100px;
    height: 660px;
    z-index: 55;
  }
  div#actionArea {
    position: absolute;
    @include background-pattern3;
    top: 775px;
    bottom: 5px;
    left: 5px;
    right: 15px;
    padding: 10px;
    border: 2px solid #cccccc;
    border-radius: 5px;
    z-index: 55;
    div#expla {
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 600px;
      right: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: rgba(0,0,0,0.5);
      padding: 5px;
    }
    div#butt {
      text-align: left;
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 10px;
      width: 550px;
    }
  }
}


