/*
  ███████╗███████╗██╗  ██╗███████╗ ██████╗███████╗███╗   ██╗███████╗
  ██╔════╝██╔════╝╚██╗██╔╝██╔════╝██╔════╝██╔════╝████╗  ██║██╔════╝
  ███████╗█████╗   ╚███╔╝ ███████╗██║     █████╗  ██╔██╗ ██║█████╗
  ╚════██║██╔══╝   ██╔██╗ ╚════██║██║     ██╔══╝  ██║╚██╗██║██╔══╝
  ███████║███████╗██╔╝ ██╗███████║╚██████╗███████╗██║ ╚████║███████╗
  ╚══════╝╚══════╝╚═╝  ╚═╝╚══════╝ ╚═════╝╚══════╝╚═╝  ╚═══╝╚══════╝

  styles for the sex scene menu/display
*/

/*#actionSex {
  height: 300px;
  background: #222;
  position: fixed;
  bottom: 1px;
  margin: auto;
  left: 298px;
  right: 298px;
  min-width: 700px;
  padding: 2px;
  z-index: 1;
  border-color: #014f8e;
  border-style: solid;
  border-width: 3px;
  border-radius: 12px;
  overflow: hidden;
}*/



#actionSexTabs {
  vertical-align: bottom;
}



#sexActButtons button {
  margin: 1px;
  width: 19%;
  height: 40px;
  font-family: TitilliumWeb, sans-serif;
  font-size: 20px;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 6px;
}

#sexActButtonInfo {
  height: 37px;
  width: 16.2%;
  margin: 1px;
  overflow: hidden;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-width: 2px;
  border-style: solid;
  border-color: #696969;
  font-family: Questrial, sans-serif;
  font-size: 22px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

#sexActButtons {
  vertical-align: text-top;
  text-align: center;
}

#sexActHovertext {
  border: 2px solid #666666;
  padding-left: 3px;
  padding-right: 3px;
  overflow: hidden;
  height: 80px;
}

.sex-redo-button img {
  display: inline-block;
  margin-bottom: 1px;
  margin-right: auto;
  margin-left: auto;
  vertical-align: bottom;
  border: none;
  opacity: 1;
}

.sex-redo-button img:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

div#sexSceneLoadingImage {
  position: fixed;
  z-index: 9999;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  opacity: 0.9;
  background-color: #dd33bb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3CradialGradient id='a' cx='500' cy='500' r='50%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23dd33bb'/%3E%3Cstop offset='1' stop-color='%23404'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='500' cy='500' r='60%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23F70' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%23F70' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1000' height='1000'/%3E%3Cg fill='none' stroke='%23F6B' stroke-width='1' stroke-miterlimit='10' stroke-opacity='.3'%3E%3Crect x='12.5' y='12.5' width='975' height='975'/%3E%3Crect x='25' y='25' width='950' height='950'/%3E%3Crect x='37.5' y='37.5' width='925' height='925'/%3E%3Crect x='50' y='50' width='900' height='900'/%3E%3Crect x='62.5' y='62.5' width='875' height='875'/%3E%3Crect x='75' y='75' width='850' height='850'/%3E%3Crect x='87.5' y='87.5' width='825' height='825'/%3E%3Crect x='100' y='100' width='800' height='800'/%3E%3Crect x='112.5' y='112.5' width='775' height='775'/%3E%3Crect x='125' y='125' width='750' height='750'/%3E%3Crect x='137.5' y='137.5' width='725' height='725'/%3E%3Crect x='150' y='150' width='700' height='700'/%3E%3Crect x='162.5' y='162.5' width='675' height='675'/%3E%3Crect x='175' y='175' width='650' height='650'/%3E%3Crect x='187.5' y='187.5' width='625' height='625'/%3E%3Crect x='200' y='200' width='600' height='600'/%3E%3Crect x='212.5' y='212.5' width='575' height='575'/%3E%3Crect x='225' y='225' width='550' height='550'/%3E%3Crect x='237.5' y='237.5' width='525' height='525'/%3E%3Crect x='250' y='250' width='500' height='500'/%3E%3Crect x='262.5' y='262.5' width='475' height='475'/%3E%3Crect x='275' y='275' width='450' height='450'/%3E%3Crect x='287.5' y='287.5' width='425' height='425'/%3E%3Crect x='300' y='300' width='400' height='400'/%3E%3Crect x='312.5' y='312.5' width='375' height='375'/%3E%3Crect x='325' y='325' width='350' height='350'/%3E%3Crect x='337.5' y='337.5' width='325' height='325'/%3E%3Crect x='350' y='350' width='300' height='300'/%3E%3Crect x='362.5' y='362.5' width='275' height='275'/%3E%3Crect x='375' y='375' width='250' height='250'/%3E%3Crect x='387.5' y='387.5' width='225' height='225'/%3E%3Crect x='400' y='400' width='200' height='200'/%3E%3Crect x='412.5' y='412.5' width='175' height='175'/%3E%3Crect x='425' y='425' width='150' height='150'/%3E%3Crect x='437.5' y='437.5' width='125' height='125'/%3E%3Crect x='450' y='450' width='100' height='100'/%3E%3Crect x='462.5' y='462.5' width='75' height='75'/%3E%3Crect x='475' y='475' width='50' height='50'/%3E%3Crect x='487.5' y='487.5' width='25' height='25'/%3E%3C/g%3E%3Crect fill-opacity='.3' fill='url(%23b)' width='1000' height='1000'/%3E %3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

div#sexSceneLoadingImage.hideIt {
  visibility: hidden;
}

div#sexSceneLoadingImage img {
  display: block;
  height: 800px;
  width: 800px;
  margin: 25px auto;
  border: 3px solid #c60e5b;
  border-radius: 20px;
  opacity: 1;
}

#sexStats {
  height: 40px;
  background: #222;
  position: fixed;
  left: 298px;
  right: 298px;
  margin: auto;
  min-width: 700px;
  padding: 1px;
  top: 1px;
  z-index: 1;
  border-width: 2px;
  border-style: solid;
  border-color: #014f8e;
  border-radius: 12px;
  overflow: hidden;
}

#sexStats table tr td {
  margin: auto;
  padding: 0px;
  vertical-align: middle;
  text-align: center;
}

#sexActHovertext {
  font-family: Questrial, sans-serif;
}

#sexInfoDisp {
  position: fixed;
  left: 5px;
  bottom: 0px;
  top: 50px;
  width: 300px;
  padding: 5px;
  border-style: solid;
  border-width: 3px;
  border-bottom-width: 0px;
  border-color: #666;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #333;
  z-index: 700;
}

div#sexActionBarMain {
  position: fixed;
  left: 330px;
  right: 0px;
  bottom: 5px;
  height: 185px;
  z-index: 700;
  padding: 0px;
  border-style: solid;
  border-width: 3px;
  border-right-width: 0px;
  border-color: #666;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #333;
  div#sexActionTabCont {
    position: absolute;
    left: 130px;
    right: 25px;
    bottom: 1px;
    top: 1px;
    overflow: hidden;
    div#sex-special-menu {
      position: absolute;
      bottom: 9px;
      top: 9px;
      left: 0px;
      right: 0px;
      border-radius: 5px;
      @include background-pattern1;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      text-align: center;
      z-index: 800;
      button {
        background-color: #303030;
        color: white;
        padding: 4px 16px;
        font-size: 1rem;
        border: none;
        min-width: 150px;
        max-width: 300px;
        margin-top: 4px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      }
      button:hover {
        background-color: $cDeepPink;
      }
    }
    div#sex-category-row {
      position: absolute;
      top: 2px;
      left: 0px;
      right: 0px;
      height: 60px;
      text-align: left;
      width: 1200px;

      div.dropdown {
        position: relative;
        display: inline-block;

        button.dropbtn {
          background-color: #202020;
          color: white;
          padding: 8px 16px;
          font-size: 30px;
          border: none;
          height: 60px;
          width: 140px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          font-family: $fontTitle;
        }

        div.dropdown-content {
          display: none;
          position: fixed;
          bottom: 185px;
          right: 50px;
          left: 350px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 750;
          padding: 4px 8px 8px 8px;
          text-align: center;
          border-radius: 5px;
          @include background-pattern1;

          button {
            background-color: #303030;
            color: white;
            padding: 4px 16px;
            font-size: 1rem;
            border: none;
            min-width: 150px;
            max-width: 300px;
            margin-top: 4px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          }

          button:hover {
            background-color: $cDeepPink;
          }

          button.disabled {
            background-color: #440707
          }

          fieldset {
            padding-bottom: 4px;
            border-color: #a0a0a0;
          }
        }
      }

      div.dropdown:hover {
        button.dropbtn {
          background-color: #920954;
        }

        div.dropdown-content {
          display: block;
        }
      }
    }
  }
  div#sexActionShortcut {
    position: absolute;
    left: 5px;
    top: 5px;
    bottom: 5px;
    width: 120px;
    text-align: center;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 5px;
  }
  div#sexActionInfoDisp {
    position: absolute;
    bottom: 10px;
    top: 80px;
    left: 135px;
    right: 25px;
    z-index: 700;
    /*border-style: solid;
    border-width: 3px;
    border-color: #666;
    border-radius: 15px;
    background-color: #444;
    opacity: 0;
    transition: all 0.5s ease 0.1s;*/
    overflow: hidden;
  }
}

#sexMainShitter {
  position: fixed;
  left: 330px;
  right: 0px;
  top: 50px;
  bottom: 206px;
  padding: 30px 75px 10px 10px;
  border-style: solid;
  border-width: 3px;
  border-right-width: 0px;
  border-color: #666;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #333;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 650;
  color: #eedddd;
  text-align: justify;
}

.sexactershit {
  position: absolute;
  top: 75px;
  left: 3px;
  right: 3px;
  height: 200px;
  padding: 1px;
  margin: 0px;
  overflow-y: auto;
  button {
    /*width:180px;*/
    width: 13.5%;
    height: 34px;
    margin: 2px;
    overflow: hidden;
    font-size: 17px;
    word-break: keep-all !important;
    overflow-wrap: normal !important;
  }
  img {
    float: left;
    margin: 3px 1px 3px 0px;
  }
}

.inline {
  display: inline;
}

.sexactershit fieldset {
  padding: 2px;
  margin: 3px 0px;
}

.sexactershit fieldset legend {
  font-size: 18px;
}

.mofugger {
  padding: 3px !important;
}

#sexPleasureDisp {
  position: fixed;
  top: 5px;
  left: 5px;
  right: 5px;
  height: 38px;
  border: none;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

#sexPleasureDispPC div {
  display: inline-block;
  width: 30%;
  margin-left: 0px;
  margin-right: 10px;
}

#sexPleasureDispNPC div {
  display: inline-block;
  width: 13%;
  margin-left: 0px;
  margin-right: 10px;
}

#sexOccupiedContainer {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  width: 290px;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;

  img {
    width: 70px;
    height: auto;
  }
}

#sexInfoPositionDia {
  width: 190px;
  height: 190px;
  display: inline-block;
  img {
    width: 190px;
    height: auto;
  }
}


#sexInfoPositionDiaLabel {
  position: fixed;
  width: 300px;
  height: 200px;
  left: 5px;
  top: 200px;
  z-index: 705;
  padding: 5px;
  border-style: solid;
  border-width: 3px;
  border-color: #666;
  border-radius: 15px;
  background-color: #444;
  opacity: 0;
  transition: all 0.5s ease 0.1s;
  font-family: Comfortaa;
  font-size: 20px;
}

#sexInfoPositionDia:hover #sexInfoPositionDiaLabel {
  opacity: 1;
}

#sexInfoPositionSide {
  width: 100px;
  height: 190px;
  display: inline-block;
  text-align: left;
  margin-left: 0px;
  vertical-align: top;
}

.sexInfoCharacter {
  width: 294px;
  height: 60px;
  margin-top: 7px;
  background-color: #aaa;
  border-radius: 10px;
  border-width: 2px;
  border-color: #aaa;
  border-style: solid;
  color: #333;
  font-family: Questrial;
  transition: all 0.4s ease 0.1s;
  line-height: 1.2;
  cursor: pointer;
}

.sexInfoCharacter img {
  float: right;
  margin: 5px;
}

.sexInfoCharacter:hover {
  background-color: #ddd;
  border-color: #666;
}

.sexInfoCharacterBlank {
  background-color: #555;
  width: 294px;
  height: 60px;
  margin-top: 7px;
  border-radius: 10px;
  border-width: 2px;
  border-color: #aaa;
  border-style: solid;
  color: #333;
  font-family: Questrial;
  transition: all 0.4s ease 0.1s;
  line-height: 1.2;
  font-size: 14px;
}

.sexInfoCharacterBlank img {
  float: right;
  margin: 5px;
}

.wetness img {
  float: none;
  display: inline-block;
  margin: 0px;
  border-radius: 2px;
}

div#sexPopUp {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  background-color: rgba(0,0,0,0.25);
  div#sexPopUpContents {
    position: absolute;
    top: 100px;
    left: 20%;
    right: 20%;
    bottom: 100px;
    border-radius: 15px;
    @include background-pattern2;
    padding: 25px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
