/*
███████╗██╗███╗   ███╗██████╗ ██╗     ███████╗
██╔════╝██║████╗ ████║██╔══██╗██║     ██╔════╝
███████╗██║██╔████╔██║██████╔╝██║     █████╗
╚════██║██║██║╚██╔╝██║██╔═══╝ ██║     ██╔══╝
███████║██║██║ ╚═╝ ██║██║     ███████╗███████╗
╚══════╝╚═╝╚═╝     ╚═╝╚═╝     ╚══════╝╚══════╝

██████╗       ██████╗  █████╗ ██████╗
██╔══██╗      ██╔══██╗██╔══██╗██╔══██╗
██████╔╝█████╗██████╔╝███████║██████╔╝
██╔═══╝ ╚════╝██╔══██╗██╔══██║██╔══██╗
██║           ██████╔╝██║  ██║██║  ██║
╚═╝           ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
*/


div.simplePbar {
  position: relative;
  margin: 5px auto;
  width: 95%;
  background-color: #303030;
  color: #e0e0e0;
  padding: 5px;
  border-radius: 6px;
  h3 {
    font-family: Questrial;
    font-size: 18px;
    color: #e0e0e0;
    margin: 0px 0px 5px 5px;
  }
  div {
    width: 95%;
    height: 10px;
    border: 1px solid #000;
    border-radius: 6px;
    padding: 0px;
    overflow: hidden;
    margin: 0px auto;
    background-color: #000;
    text-align: left;
    span {
      display: block;
      margin: 0px;
      height: 10px;
      padding: 0px;
    }
  }
}



