

#erolichNewsImg {
  position: absolute;
  top: 5px;
  right: 50px;
  width: 900px;
  height: auto;
  z-index: 2040;
  transition: all 0.5s ease 0;
  opacity: 1 !important;
}

#erolichNewsImgBlink{
  position: absolute;
  top: 5px;
  right: 50px;
  width: 900px;
  height: auto;
  z-index: 2050;
  transition: all 0.5s ease 0;
  opacity: 1 !important;
}

div#erolichNews {
  font-family: Questrial;
  width: 100%;
  margin-top: 275px;
}
dl.introInstList dt {
  font-size: 22px;
  color: deepskyblue;
  font-weight: bold;
}

.jiminer button{
  width: 250px;
}
.jiminer span.halfsize button {
  width: 120px;
}
.jiminer legend{
  text-align: left;
  font-size:1.35rem;
  font-weight: bold;
}
fieldset.jiminer {
  color: deepskyblue;
}
span.jiminer button {
  width: 505px;
}

#prefCont {
  width: 95%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: 10px auto;
  border-width: 2px;
  border-radius: 6px;
  border-style: solid;
  border-color: #364557;
  padding: 5px;
  text-align: left;
}

.prefCont {
  width: 23%;
  border-width:1px;
  border-style: solid;
  border-color: #666;
  border-radius: 3px;
  padding: 3px;
  margin: 3px;
}

div#AItrainingBG {
  position: fixed;
  z-index: 300;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 50px 150px;
  overflow-y: auto;
  color: #f0f0ff;
}

div#AItrainingBG input[type=checkbox] {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin: 0px 5px;
  border-radius: 6px;
  border-color: #dddddd;
  color: #dddddd;
  background-color: #dddddd;
}

div#AItrainingBG input[type=checkbox]:checked {
  color: #36e753;
  border-color: #36e753;
  background-color: #36e753 !important;
}

table.data-dense {
  margin: 5px 0px;
  border-collapse: collapse;
  border-style: none;
  border-width: 0px;
  line-height: 1.2;
}
table.data-dense tr {
  margin: 0px;
  border-style: none;
  border-width: 0px;
  border-top-style: dotted;
  border-top-width: 1px;
  border-top-color: rgb(121, 222, 255);
  padding: 0px;
}
table.data-dense tr:first-child {
  border-top-style: none;
  border-top-width: 0px;
}
table.data-dense tr td {
  margin: 0px;
  border-style: none;
  border-width: 0px;
  border-left-style: dotted;
  border-left-width: 1px;
  border-left-color: rgb(121, 222, 255);
  padding: 3px 6px;
  line-height: 1.2;
}

table.data-dense tr td:first-child {
  border-left-style: none;
  border-left-width: 0px;
}

div#GameImageContainer {
  position: relative;
  max-width: 100%;
  border: 3px solid darkcyan;
  border-radius: 4px;
}

div#GameImageContainer div {
  display: inline-block;
  width: 290px;
  height: 290px;
  padding: 5px;
  margin: 5px;
  border: 2px solid cyan;
  background-color: #222;
  color: aqua;
  background-repeat: no-repeat;
  background-size: contain;
  text-shadow: -1px 0 black,
  0 1px black,
  1px 0 black,
  0 -1px black,
  0px 0px 3px black;
}

div.aiTrainingBackground {
  background-color: #040014;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='456' height='456' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23000744' stroke-width='2'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23002955'%3E%3Ccircle cx='769' cy='229' r='6'/%3E%3Ccircle cx='539' cy='269' r='6'/%3E%3Ccircle cx='603' cy='493' r='6'/%3E%3Ccircle cx='731' cy='737' r='6'/%3E%3Ccircle cx='520' cy='660' r='6'/%3E%3Ccircle cx='309' cy='538' r='6'/%3E%3Ccircle cx='295' cy='764' r='6'/%3E%3Ccircle cx='40' cy='599' r='6'/%3E%3Ccircle cx='102' cy='382' r='6'/%3E%3Ccircle cx='127' cy='80' r='6'/%3E%3Ccircle cx='370' cy='105' r='6'/%3E%3Ccircle cx='578' cy='42' r='6'/%3E%3Ccircle cx='237' cy='261' r='6'/%3E%3Ccircle cx='390' cy='382' r='6'/%3E%3C/g%3E%3C/svg%3E");
}

div.squareGradientBackground {
  background-color: #2364cc;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%232364cc' width='11' height='11'/%3E%3Crect fill='%232266cd' x='10' width='11' height='11'/%3E%3Crect fill='%232169ce' y='10' width='11' height='11'/%3E%3Crect fill='%23206bcf' x='20' width='11' height='11'/%3E%3Crect fill='%231f6dd0' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%231f70d1' y='20' width='11' height='11'/%3E%3Crect fill='%231f72d2' x='30' width='11' height='11'/%3E%3Crect fill='%231f74d3' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%232076d4' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%232078d5' y='30' width='11' height='11'/%3E%3Crect fill='%23217bd6' x='40' width='11' height='11'/%3E%3Crect fill='%23227dd7' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23247fd8' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%232581d8' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%232783d9' y='40' width='11' height='11'/%3E%3Crect fill='%232986da' x='50' width='11' height='11'/%3E%3Crect fill='%232b88db' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%232e8adb' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23308cdc' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23328edd' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%233590dd' y='50' width='11' height='11'/%3E%3Crect fill='%233792de' x='60' width='11' height='11'/%3E%3Crect fill='%233a94de' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%233d97df' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%234099df' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23439be0' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23459de0' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23489fe1' x='70' width='11' height='11'/%3E%3Crect fill='%234ba1e1' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%234ea3e2' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%2351a5e2' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%2354a7e2' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%2358a9e3' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%235babe3' x='80' width='11' height='11'/%3E%3Crect fill='%235eade4' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%2361afe4' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%2364b1e4' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%2367b3e5' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%236bb5e5' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%236eb7e6' x='90' width='11' height='11'/%3E%3Crect fill='%2371b9e6' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%2374bbe6' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%2378bde7' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%237bbee7' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%237ec0e7' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%2382c2e8' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%2385c4e8' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%2388c6e9' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%238cc8e9' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%238fcae9' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%2393ccea' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%2396cdea' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%2399cfeb' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%239dd1eb' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23a0d3eb' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23a4d5ec' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23a7d7ec' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23abd8ed' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23aedaed' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23b2dcee' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}