/* ====================================================

.           TWEEGO-INSERTED IMAGE CSS FILE
Use for css groups that use [img[]] for the bg image.
Include ONLY the background-image property here.

==================================================== */

.sky_stars {
    background-image: [img[IMG_NightStars1]];
}

.sky_twinkling {
    background-image: [img[IMG_StarsTwinkling]];
}

.sky_clouds {
    background-image: [img[IMG_NightClouds]];
}

#right-sidebar-portrait,
#right-sidebar-portraitTEST,
div#menuPortrait div {
    background-image: [img[IMGgradient]];
}

#splashScreen, .startscreensplash {
    background-image: [img[IMG_Splash]];
}

.ghettoShopOutput {
    background-image: [img[IMG-Receipt]];
}

#penetratedContainer {
    background-image: [img[IMG-PenetratedBg]];
}

#penetratedContainerInner {
    background-image: [img[IMG-Wifezillas]];
}
