
div#interactContainer {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 0;
  margin: 0px;
}

div#interactCunt {
  position: absolute;
  display:block;
  border-radius: 6px;
  z-index: 5001;
  width: 750px;
  height: 750px;
  top: 25px;
  right: 25px;
  opacity: 1;
  background-color: rgb(121,139,168);
  overflow: hidden;
}

div#interactCunt.size1 {
  width: 750px;
  height: 500px;
}

div#interactCunt.size2 {/* default size */
  width: 750px;
  height: 750px;
}

div#interactCunt.size3 {
  width: 1000px;
  height: 750px;
}

div#interactCunt.size4 {
  width: 1500px;
  height: 800px;
}

div#interactTitle {
  position: absolute;
  cursor: move;
  height: 26px;
  top: 3px;
  left: 3px;
  right: 3px;
  padding: 2px 0px 2px 34px;
  font-family: TitilliumWeb;
  font-size: 20px;
  background-color: rgb(70,75,85);
  margin: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: rgb(235,240,250);
}

div#interactWindow {
  position: absolute;
  top: 30px;
  right: 3px;
  left: 3px;
  bottom: 3px;
  padding: 10px;
  margin: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: rgb(42,44,48);
  color: rgb(235, 240, 250);
  font-family: Lato;
  overflow-y: auto;
  text-align: justify;
  line-height: 1.3;
}

div#interactTitle img#interactMinMax {
  cursor: pointer;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 2px;
  right: 30px;
  opacity: 0.8;
}

div#interactTitle img#interactClose {
  cursor: pointer;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 2px;
  right: 2px;
  opacity: 0.8;
}

div#interactTitle img#interactAW {
  cursor: pointer;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 2px;
  left: 2px;
  opacity: 1;
}

div#interactTitle img#interactMinMax:hover {
  opacity: 1;
}

div#interactTitle img#interactClose:hover {
  opacity: 1;
}

div#interactBackground {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 5000;
  background-color: #001933;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='384' height='384' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23003044' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23002f55'%3E%3Ccircle cx='769' cy='229' r='6'/%3E%3Ccircle cx='539' cy='269' r='6'/%3E%3Ccircle cx='603' cy='493' r='6'/%3E%3Ccircle cx='731' cy='737' r='6'/%3E%3Ccircle cx='520' cy='660' r='6'/%3E%3Ccircle cx='309' cy='538' r='6'/%3E%3Ccircle cx='295' cy='764' r='6'/%3E%3Ccircle cx='40' cy='599' r='6'/%3E%3Ccircle cx='102' cy='382' r='6'/%3E%3Ccircle cx='127' cy='80' r='6'/%3E%3Ccircle cx='370' cy='105' r='6'/%3E%3Ccircle cx='578' cy='42' r='6'/%3E%3Ccircle cx='237' cy='261' r='6'/%3E%3Ccircle cx='390' cy='382' r='6'/%3E%3C/g%3E%3C/svg%3E");
}

div#interactCunt.minified {
  visibility: hidden;
}

div#interactMini {
  position: absolute;
  cursor: pointer;
  height: 38px;
  bottom: 0px;
  right: 3px;
  width: 100px;
  padding: 2px;
  font-family: TitilliumWeb;
  font-size: 18px;
  background-color: rgb(70, 75, 85);
  margin: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: rgb(235, 240, 250);
  z-index: 5005;
  text-align: center;
  line-height: 1.1;
  overflow: hidden;
  border-color: rgb(121, 139, 168);
  border-width: 2px;
  border-style: solid;
  border-bottom-width: 0px;
  opacity: 0.8;
}

div#interactMini:hover {
  opacity: 1;
}

div#interactMini.minified {
  visibility: hidden;
}

div#interactImageBox {
  position: absolute;
  cursor: move;
  width: 400px;
  height: 300px;
  top: 50px;
  left: 450px;
  border-width: 3px;
  border-style: solid;
  border-radius: 6px;
  border-color: rgb(121, 139, 168);
  background-color: rgb(42, 44, 48);
  text-align: center;
  z-index: 5010;
  vertical-align: middle;
  overflow: hidden;
}

div#interactImageBox.minified {
  visibility: hidden;
}

div#interactImageBox.npcbox {
  height: 320px;
  width: 280px;
}

div#interactImageBox img,
div#interactImageBox svg {
  display: block;
  max-height: 296px;
  max-width: 396px;
  /* margin: 15px 2px 2px; */
}

div#interactImageBox.npcbox img,
div#interactImageBox.npcbox svg {
  display: block;
  max-height:310px;
  max-width: 280px;
  margin: auto;
  /* margin: 15px 2px 2px; */
}

div.bluescales {
  background-color: #0097ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%230097ff' cx='50' cy='0' r='50'/%3E%3Cg fill='%23058ff7' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%230987ee' cx='50' cy='100' r='50'/%3E%3Cg fill='%230d7fe6' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%231077dd' cx='50' cy='200' r='50'/%3E%3Cg fill='%231270d5' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%231468cc' cx='50' cy='300' r='50'/%3E%3Cg fill='%231660c4' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%231759bb' cx='50' cy='400' r='50'/%3E%3Cg fill='%231751b2' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23184aaa' cx='50' cy='500' r='50'/%3E%3Cg fill='%231842a1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23183b99' cx='50' cy='600' r='50'/%3E%3Cg fill='%23173490' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23172d87' cx='50' cy='700' r='50'/%3E%3Cg fill='%2316267f' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23141e76' cx='50' cy='800' r='50'/%3E%3Cg fill='%2313176e' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23110f66' cx='50' cy='900' r='50'/%3E%3Cg fill='%230f075d' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%230d0055' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}

div.darkTriangles {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPgo8cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSI4IiBmaWxsPSIjNDAzYzNmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDBMOCA4Wk04IDBMMCA4WiIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2U9IiMxZTI5MmQiPjwvcGF0aD4KPC9zdmc+");
}

/*
  SCENARIO SYSTEM DIV ID NAMES:
  Scene-Background : overall container, has background and general styling.
  Scene-Cunt : Main div containing content.
  Scene-Sidebar-Menu : for containing interactive elements and standard info
  Scene-Sidebar-Info : for containing location/other information
  Scene-Passage : Div containing passage contents
  Scene-Image-Top : normally-collapsed div that can contain a topbar image
  Scene-Image-Left : left sidebar image area
  Scene-Title: title area
*/

div#Scene-Background {
  position: fixed;
  display: block;
  z-index: 1300;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0px;
  padding: 0px;
  text-align: justify;
}

div#Scene-Cunt {
  position: absolute;
  display: grid;
  margin: 0px;
  padding: 0px;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  grid-template-columns: 265px 20px 1fr 20px 260px;
  grid-template-rows: 35px 10px 155px 30px 200px 1fr 50px 350px;
}

div#Scene-Title {
  text-shadow: -1px 0 black,
  0 1px black,
  1px 0 black,
  0 -1px black,
  0px 0px 3px black;
  grid-row: 1 / span 1;
  grid-column: 3 / span 3;
  font-family: Questrial;
  font-size: 30px;
  text-align: left;
  color: #e0e0e0;
}

div#Scene-Image-Left {
  grid-row: 3 / span 5;
  grid-column: 5 / span 1;
  overflow: hidden;
}

div#Scene-Image-Left img,
div#Scene-Image-Left svg {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 100%;
  height: auto;
  border: 3px inset #353332;
}

div#Scene-Passage-Cunt {
  border: 3px inset #353332;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.6);
  grid-row: 3 / span 6;
  grid-column: 3 / span 1;
  overflow-x: hidden;
  overflow-y: auto;
}

div#Scene-Image-Top {
  text-align: center;
  width: 100%;
  display: block;
}

div#Scene-Image-Top img {
  margin-bottom: 15px;
  max-width: 100%;
  max-height: 250px;
}

div#Scene-Passage {
  padding: 10px;
  display: block;
  min-width: 95%;
  max-width: 100%;
  min-height: 10%;
  text-align: justify;
}

div#Scene-Sidebar-Menu {
  border: 3px inset #353332;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  grid-row: 8 / span 1;
  grid-column: 1 / span 1;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 20px;
  opacity: 0.35;
  transition: all 250ms ease-in-out 50ms;
}

div#Scene-Sidebar-Menu:hover {
  opacity: 1;
}

div#Scene-Sidebar-Time {
  border: 3px inset #353332;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  grid-row: 5 / span 2;
  grid-column: 1 / span 1;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 20px;
  text-align: center;
  opacity: 0.35;
  transition: all 250ms ease-in-out 50ms;
}

div#Scene-Sidebar-Time:hover {
  opacity: 1;
}

div#Scene-Sidebar-Menu div#Scene-Sidebar-Menu-Buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-between;
  margin-top: 15px;
}
div#Scene-Sidebar-Menu div#Scene-Sidebar-Menu-Save {
  margin-top: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

div#Scene-Sidebar-Info {
  border: 3px inset #353332;
  border-radius: 6px;
  background-color: rgba(0,0,0,0.6);
  padding: 10px;
  grid-row: 1 / span 3;
  grid-column: 1 / span 1;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0.35;
  transition: all 250ms ease-in-out 50ms;
}

div#Scene-Sidebar-Info:hover {
  opacity: 1;
}
