
div#menuBlackout {
  position: fixed;
  z-index: 2000;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCI+CjxmaWx0ZXIgaWQ9Im4iPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjciIG51bU9jdGF2ZXM9IjEwIiBzdGl0Y2hUaWxlcz0ic3RpdGNoIj48L2ZlVHVyYnVsZW5jZT4KPC9maWx0ZXI+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjMDAwIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWx0ZXI9InVybCgjbikiIG9wYWNpdHk9IjAuNCI+PC9yZWN0Pgo8L3N2Zz4=");
  opacity: 1;
}

div#backwardCunt {
  position: fixed;
  z-index: 2500;
  top:50px;
  bottom: 50px;
  left: 50px;
  right: 50px;
  border-width: 3px;
  border-style: groove;
  border-color: deepskyblue;
  border-radius: 20px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPgo8cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSI4IiBmaWxsPSIjNDAzYzNmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDBMOCA4Wk04IDBMMCA4WiIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2U9IiMxZTI5MmQiPjwvcGF0aD4KPC9zdmc+");
  font-family: NovaMono;
  color: #fdfdfd;
  padding: 20px 30px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  opacity: 1;
}

div#backwardCunt p {
  width: 1200px;
  margin: 10px auto;
  text-align: justify;
}

div#MainMenuCunt {
  position: fixed;
  z-index: 2500;
  top: 40px;
  bottom: 20px;
  left: 40px;
  right: 40px;
  border-width: 3px;
  border-style: groove;
  border-color: rgb(40, 53, 58);
  border-radius: 10px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPgo8cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSI4IiBmaWxsPSIjNDAzYzNmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDBMOCA4Wk04IDBMMCA4WiIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2U9IiMxZTI5MmQiPjwvcGF0aD4KPC9zdmc+");
  overflow: hidden;
  text-align: center;
  opacity: 1;
  color: #f9fdff;
  font-family: Questrial;
}

div#MainMenuCunt div#menuTitlebar {
  font-size: 1.7rem;
  text-align: center;
  color: #e2f7ff;
}

div#characterMenuButtons button,
div#characterMenuActions button,
div#MainMenuControls button {
  color: #e2f7ff;
  font-family: Questrial;
  width: 132px;
  border-radius: 8px;
  border-style: solid;
  border-width: 3px;
  border-color: #e2f7ff;
  transition: all 0.5s ease-in-out 0;
}

div#characterMenuButtons button:hover,
div#characterMenuActions button:hover,
div#MainMenuControls button:hover {
  color: #f5faff;
  border-color: #f5faff;
  background-color: #77bbdd;
}

div#MainMenuControls button {
  width: 150px;
}

div#MainMenuControls span button {
  color: #f33939;
  border-color: #f33939;
}
div#MainMenuControls span button:hover {
  color: #f33939;
  border-color: #f33939;
}

div#MainMenuControls {
  position: fixed;
  top: 5px;
  height: 35px;
  left: 5px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPgo8cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSI4IiBmaWxsPSIjNDAzYzNmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDBMOCA4Wk04IDBMMCA4WiIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2U9IiMxZTI5MmQiPjwvcGF0aD4KPC9zdmc+");
  padding: 1px;
  margin: 0px;
  z-index: 3000;
  text-align: left;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(40, 53, 58);
  border-radius: 10px;
}

div#MainMenuCunt div#menuContent {
  border-style: inset;
  border-width: 3px;
  border-radius: 8px;
  border-color: #3f455f;
  overflow-y: auto;
}

div#menuContent div#MENU-CHAR-statuseffect {
  background-color: rgba(0,0,0,0.8);
  display: flex;
  margin: 20px auto;
  border-radius: 8px;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 136px;
  padding: 3px;
  border-width: 2px;
  border-color: #284668;
  border-style: solid;
}

table.tablefuckin tr {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #364557;
  margin-bottom: 4px;
}
table.tablefuckin tr td {
  padding: 5px;
}
table.tablefuckin tr td:nth-child(even) {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #364557;
}

div#menuContent div#MENU-CHAR-statuseffect img {
  height: 60px;
  width: 60px;
  margin: 0px 10px;
}


/*BULLSHIT*/

div#menuPortrait div  {
  position: relative;
  display: block;
  margin: 0px auto;
  height: 300px;
  width: 250px;
  z-index: 2502;
  overflow: hidden;
  text-align: justify;
  background-size: 100%;
}

#right-sidebar-portrait {
  margin-left: -10px;
  margin-top: -11px;
}

#right-sidebar-portrait img {
  position: absolute;
  display: block;
  border: none;
}

#right-sidebar-portrait .right-sidebar-portrait-class img {
  height: 300px;
  opacity: 1;
  z-index: 2555;
  left: 1px;
  bottom: 0px;
}

#right-sidebar-portrait .portrait-above0 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 2555;
}

#right-sidebar-portrait .portrait-above1 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 2556;
}

#right-sidebar-portrait .portrait-above2 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 2557;
}

#right-sidebar-portrait .portrait-above3 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 2558;
}

#right-sidebar-portrait .portrait-above4 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 2559;
}

#right-sidebar-portrait .portrait-above5 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 2560;
}

#right-sidebar-portrait .portrait-above6 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 2561;
}

#right-sidebar-portrait .portrait-above7 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 2562;
}

#right-sidebar-portrait .portrait-above8 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 2563;
}

#right-sidebar-portrait .portrait-above9 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 2564;
}

#right-sidebar-portrait .portrait-above10 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 2565;
}

#right-sidebar-portrait .portrait-above11 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 2566;
}

#right-sidebar-portrait .portrait-above12 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 2567;
}

#right-sidebar-portrait .portrait-above13 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 2568;
}

#right-sidebar-portrait .portrait-above14 img {
  height: 300px;
  opacity: 1;
  left: 1px;
  bottom: 0px;
  z-index: 2569;
}

#right-sidebar-portrait .right-sidebar-portrait-bg img {
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  opacity: 1;
  z-index: 2551;
}

#textarea--newnote {
  width: 90%;
}

div#alarmClock {
  width: 700px;
  height: 400px;
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
  color: black;
  font-family: NovaMono;
  font-size: 1.3rem;
  text-align: center;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='400' cy='400' r='50%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%230EF'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='400' cy='400' r='70%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%230FF'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='800'/%3E%3Cg fill-opacity='.8'%3E%3Cpath fill='url(%23b)' d='M998.7 439.2c1.7-26.5 1.7-52.7 0.1-78.5L401 399.9c0 0 0-0.1 0-0.1l587.6-116.9c-5.1-25.9-11.9-51.2-20.3-75.8L400.9 399.7c0 0 0-0.1 0-0.1l537.3-265c-11.6-23.5-24.8-46.2-39.3-67.9L400.8 399.5c0 0 0-0.1-0.1-0.1l450.4-395c-17.3-19.7-35.8-38.2-55.5-55.5l-395 450.4c0 0-0.1 0-0.1-0.1L733.4-99c-21.7-14.5-44.4-27.6-68-39.3l-265 537.4c0 0-0.1 0-0.1 0l192.6-567.4c-24.6-8.3-49.9-15.1-75.8-20.2L400.2 399c0 0-0.1 0-0.1 0l39.2-597.7c-26.5-1.7-52.7-1.7-78.5-0.1L399.9 399c0 0-0.1 0-0.1 0L282.9-188.6c-25.9 5.1-51.2 11.9-75.8 20.3l192.6 567.4c0 0-0.1 0-0.1 0l-265-537.3c-23.5 11.6-46.2 24.8-67.9 39.3l332.8 498.1c0 0-0.1 0-0.1 0.1L4.4-51.1C-15.3-33.9-33.8-15.3-51.1 4.4l450.4 395c0 0 0 0.1-0.1 0.1L-99 66.6c-14.5 21.7-27.6 44.4-39.3 68l537.4 265c0 0 0 0.1 0 0.1l-567.4-192.6c-8.3 24.6-15.1 49.9-20.2 75.8L399 399.8c0 0 0 0.1 0 0.1l-597.7-39.2c-1.7 26.5-1.7 52.7-0.1 78.5L399 400.1c0 0 0 0.1 0 0.1l-587.6 116.9c5.1 25.9 11.9 51.2 20.3 75.8l567.4-192.6c0 0 0 0.1 0 0.1l-537.3 265c11.6 23.5 24.8 46.2 39.3 67.9l498.1-332.8c0 0 0 0.1 0.1 0.1l-450.4 395c17.3 19.7 35.8 38.2 55.5 55.5l395-450.4c0 0 0.1 0 0.1 0.1L66.6 899c21.7 14.5 44.4 27.6 68 39.3l265-537.4c0 0 0.1 0 0.1 0L207.1 968.3c24.6 8.3 49.9 15.1 75.8 20.2L399.8 401c0 0 0.1 0 0.1 0l-39.2 597.7c26.5 1.7 52.7 1.7 78.5 0.1L400.1 401c0 0 0.1 0 0.1 0l116.9 587.6c25.9-5.1 51.2-11.9 75.8-20.3L400.3 400.9c0 0 0.1 0 0.1 0l265 537.3c23.5-11.6 46.2-24.8 67.9-39.3L400.5 400.8c0 0 0.1 0 0.1-0.1l395 450.4c19.7-17.3 38.2-35.8 55.5-55.5l-450.4-395c0 0 0-0.1 0.1-0.1L899 733.4c14.5-21.7 27.6-44.4 39.3-68l-537.4-265c0 0 0-0.1 0-0.1l567.4 192.6c8.3-24.6 15.1-49.9 20.2-75.8L401 400.2c0 0 0-0.1 0-0.1L998.7 439.2z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

div#right-sidebar-developer-button {
  position: fixed;
  height: 38px;
  width: 96px;
  bottom: 150px;
  right: -100px;
  z-index: 5000;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgba(0, 191, 255, 0);
  padding: 0px 0px 0px 38px;
  margin: 0px;
  transition: all 0.4s ease 0.2s;
  opacity: 0.40;
  overflow: hidden;
}

div#right-sidebar-developer-button img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 38px;
  height: 38px;
}

div#right-sidebar-developer-button button {
  margin: 1px;
}

div#right-sidebar-developer-button:hover {
  opacity: 1;
  right: 0px;
  border-color: rgba(0, 191, 255, 1);
  background-color: rgba(0, 0, 0, 1);
}

div#AI-Training {
  position: fixed;
  height: 38px;
  width: 96px;
  bottom: 100px;
  right: -100px;
  z-index: 5000;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgba(0, 191, 255, 0);
  padding: 0px 0px 0px 38px;
  margin: 0px;
  transition: all 0.4s ease 0.2s;
  opacity: 0.40;
  overflow: hidden;
}

div#AI-Training img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 38px;
  height: 38px;
}

div#AI-Training button {
  margin: 1px;
}

div#AI-Training:hover {
  opacity: 1;
  right: 0px;
  border-color: rgba(0, 191, 255, 1);
  background-color: rgba(0, 0, 0, 1);
}

div#ehatchCont {
  position: fixed;
  height: 40px;
  width: 96px;
  bottom: 200px;
  right: -100px;
  z-index: 999900;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgba(0, 191, 255,0);
  padding: 5px 0px 5px 50px;
  margin: 0px;
  transition: all 0.4s ease 0.2s;
  opacity: 0.40;
  overflow: hidden;
}

div#ehatchCont img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
}

div#ehatchCont button {
  margin: 1px;
}

div#ehatchCont:hover {
  opacity: 1;
  right: 0px;
  border-color: rgba(0, 191, 255, 1);
  background-color: rgba(0, 0, 0, 1);
}

div#ehatchMessage {
  display: block;
  position: fixed;
  z-index: 1000000;
  top: 15%;
  bottom: 25%;
  left: 15%;
  right: 15%;
  background-color: #222;
  color: #ffac26;
  font-size: 1.2rem;
  padding: 5%;
}


.backgroundStar {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%230088d6'/%3E%3Cstop offset='1' stop-color='%239d00db'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23000000' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.33'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

div#npcDisplay {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 650px;
}


div#npcDisplayList {
  width:1200px;
  padding: 25px;
  margin: 20px auto;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: center;
}

div#npcDisplayList div.npcDisplayItem {
  position: relative;
  width: 530px;
  padding: 0px;
  height: 100px;
  font-family: Questrial;
  background-color: #d0d0d0;
  color: #284668;
  font-size: 1.1rem;
  margin: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #77bbdd;
  border-radius: 8px;
}

div.single-chart-circle {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 60px;
  padding: 0px;
  margin: 0px;
}

div.single-chart-circle.bigger {
  height: 80px;
}

.circular-chart {
  display: block;
  margin: 0px auto;
  max-width: 60px;
  max-height: 60px;
}

.circular-chart.bigger {
  max-width: 80px;
  max-height: 80px;
}

.circle-chart-bg {
  fill: none;
  stroke: #222;
  stroke-width: 4;
}
.circle-chart-bg-white {
  fill: none;
  stroke: #ddd;
  stroke-width: 4;
}

.circle-chart {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: circleprogress 1s ease-out forwards;
}

@keyframes circleprogress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle-chart {
  stroke: #d88500;
}
.circular-chart.orange .circle-chart.bright {
  stroke: #ffac26;
}

.circular-chart.pink .circle-chart {
  stroke: #ff238a;
}

.circular-chart.pink .circle-chart.bright {
  stroke: #ff9cd9;
}

.circular-chart.green .circle-chart {
  stroke: #4CC790;
}

.circular-chart.green .circle-chart.bright {
  stroke: rgb(154, 255, 162);
}

.circular-chart.blue .circle-chart {
  stroke: #3c9ee5;
}

.circular-chart.red .circle-chart {
  stroke: #f3352e;
}
.circular-chart.red .circle-chart.bright {
  stroke: #f56a66;
}

.percentage-circle {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.percentage-circle.white {
  fill: #eee;
}

div#npcDetailViewContainer {
  position:relative;
  width: 100%;
  margin: 0;
  padding: 20px 0px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCI+CjxmaWx0ZXIgaWQ9Im4iPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjciIG51bU9jdGF2ZXM9IjEwIiBzdGl0Y2hUaWxlcz0ic3RpdGNoIj48L2ZlVHVyYnVsZW5jZT4KPC9maWx0ZXI+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjMDAwIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWx0ZXI9InVybCgjbikiIG9wYWNpdHk9IjAuNCI+PC9yZWN0Pgo8L3N2Zz4=");
  opacity: 1;
}

div#npcDetailViewContainer div.npcMenuDiv {
  position: relative;
  display: grid;
  width: 95%;
  min-height: 120px;
  padding: 10px;
  margin: 12px auto;
  border: #284668 outset 2px;
  border-radius: 10px;
  font-family: NovaMono;
  text-align: left;
  grid-template-columns: 5px 1fr 25px 1fr 25px 1fr 5px;
  grid-template-rows: 5px 35px 15px 1fr 20px 1fr 5px;
  text-shadow: -1px 0 black,
  0 1px black,
  1px 0 black,
  0 -1px black,
  0px 0px 3px black;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPgo8cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSI4IiBmaWxsPSIjNDAzYzNmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDBMOCA4Wk04IDBMMCA4WiIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2U9IiMxZTI5MmQiPjwvcGF0aD4KPC9zdmc+");
}

div#npcDetailViewContainer div.npcMenuDiv div.npcMenuGrid {
  justify-self: center;
  align-self: center;
  width: 100%;
  max-height: 100%;
  margin: 0px;
  padding: 0px;
  line-height: 1.5;
}

div#npcDetailViewContainer div.npcMenuDiv div.npcSectionTitle {
  font-family: Megrim;
  font-size: 1.4rem;
  font-weight: 900;
  grid-column: 2 / span 5;
  grid-row: 2 / span 1;
}

div.npcMenuDiv div b {
  color: #ffb642;
  display: inline-block;
  margin-right: 18px;
  font-family: Vollkorn;
  font-size: 1.1rem;
}

div.npcMenuDiv div r {
  color: #c75050;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

div#milkContainer {
  width: 800px;
  min-height: 600px;
  padding: 10px;
  margin: 0px;
  border-radius: 12px;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%231d0f0d' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23301716' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23451f1e' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%235b2625' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23722d2d' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

div#dialog-choice-cunt {
  position: relative;
  width: 900px;
  margin: 20px auto;
}

div#dialog-choice-text {
  position: absolute;
  opacity: 0.5;
  padding: 5px 5px 5px 5px;
  transition: 400ms all ease-out 0ms;
  border: 2px solid #456;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #345;
  color: #bcd;
  font-family: Questrial;
  font-size: 0.9rem;
  top: 5px;
  bottom: 5px;
  left: 440px;
  width: 10px;
}

div#dialog-choice-text:hover {
  opacity: 1;
  width: 440px;
}
div#dialog-choice-cunt:hover div#dialog-choice-text{
  opacity: 1;
  width: 440px;
}

div#dialog-choice-buttons {
  position: relative;
  display: inline-flex;
  border: 2px solid #789;
  border-radius: 20px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #567;
  flex-flow: row-reverse wrap;
  align-content: space-around;
  justify-content: flex-start;
  width: 430px;

  opacity: 1;
}

div#dialog-choice-buttons button {
  width: 200px;
  height: 35px;
  padding: 5px;
  border: 2px solid #456;
  border-radius: 16px;
  background-color: #345;
  color: #cde;
  font-family: Questrial;
  font-size: 1.2rem;
  text-align: center;
  overflow: hidden;
  transition: 300ms all ease-in-out 25ms;
  margin: 5px;
}

div#dialog-choice-buttons button:hover {
  border-color: #789;
  color: #fff;
  background-color: #234;
}

div#VehicleManage {
  position: absolute;
  top: 25%;
  bottom: 30px;
  width: 600px;
  right: 30px;
  z-index: 5001;
  border: 2px outset #fff;
  border-radius: 8px;
  padding: 15px;
  text-align: justify;
  font-size: 1.4rem;
  font-family: NovaMono;
  color: #eee;
  background-color: rgba(0,0,0,0.4);
  line-height: 1.25;
}

div#jobChooseCunt {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 5px solid #222;
  z-index: 5000;
  background-color: #4f2b0e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%2343250c' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

div#jobChooseCunt div#listCunt {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 50px;
  width: 600px;
  overflow-y: auto;
}

div#jobChooseCunt div#listCunt div {
  width: 570px;
  padding: 10px;
  margin: 0px 0px 25px 0px;
  border: 2px solid #bbb;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  font-family: Vollkorn;
  font-size: 1.35rem;
  transition: all 250ms ease 25ms;
  cursor: pointer;
}

div#jobChooseCunt div#listCunt div:hover {
  background-color: rgba(230,255,255,1);
}

div#jobChooseCunt div#infoCunt {
  position: absolute;
  top: 50px;
  right: 50px;
  bottom: 100px;
  left: 700px;
  text-align: center;
  font-size: 1.35rem;
  line-height: 1.5;
}

div#saveProgressBar {
  position: fixed;
  top: 45%;
  left: 20%;
  right: 20%;
  bottom: 50%;
  z-index: 999999;
}

table#buttonToggleTable img{
  float: left;
  margin-right: 10px;
}

table#buttonToggleTable td{
  padding: 5px;
}
