#scenarioMain {
    margin: 0px;
    background-color: #36312c;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 8000;
  }
  #scenarioGrid {
    display: grid;
    grid-template-areas:
    ". contentpanel ."
    "buttonpanel contentpanel imagepanel"
    "buttonpanel contentpanel imagepanel";
    grid-template-rows: 15px 200px 1fr;
    grid-template-columns: 0.9fr 800px 1fr;
    grid-gap: 10px;
    overflow: hidden;
    margin: 0;
    position: absolute;
    left:70px;
    right: 15px;
    top: 0px;
    bottom: 0px;
  }
  #scenarioGrid div {
    /* width: 100%; */
  }
  #scenarioContentPanel {
    grid-area: contentpanel;
    background: #1d1916;
    height: 103vh;
    width: 95%;
    overflow: scroll;
  }
  #scenarioContentPanelInner {
    margin: 20px;
    width: 95%;
    color: #ffffff;
  }

  #scenarioContentPanelInner img {
    width: 95%;
  }
  #scenarioButtonPanel {
    grid-area: buttonpanel;
  }
  #scenarioImagePanel {
    grid-area: imagepanel;
  }
  #scenarioLeftPanel .scenarioBlock {
    position:fixed;
    left:-250px;
    z-index: 250;
    width:250px;
    background-color:#1f1b18;
    color:#ffffff;
    border-width:4px;
    border-style:solid;
    border-radius:20px;
    font-size:18px;
    line-height:22px;
    padding:15px;
    padding-left: 30px;
    transition: all 300ms ease 50ms;
  }
  #scenarioLeftPanel .scenarioBlock:hover {
    left:-20px;
  }
  #scenarioSideBlockInfo {
    top: 25px;
    height:250px;
    border-color:#ff69b4;
  }
  #scenarioSideBlockTime {
    top: 315px;
    border-color:#76c900;
  }
  #scenarioSideBlockMenu {
    top: 67%;
    height:25%;
    border-color:hotpink;
  }
  #scenarioImage {
    font-size: 1.8rem;
    color: #ffffff;
    height: 100%;
    width: 100%;
  }

  #scenarioImage img{
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
  }
  .scenarioBlock .scenarioBlockLabel {
    transform: rotate(-180deg);
    writing-mode: tb-rl;
    float: right;
  }
  .scenarioBlock .scenarioBlockContent {
    float: left;
    width: 90%;
  }

  #sidebarMenuButtons div{
    margin-bottom: 10px;
  }