/* SHOPPING CSS */

div.shopBanner {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  width: 1440px;
  height: 300px;
  border-radius: 20px;
  margin: 0px auto;
  border-color: #333;
  border-style: solid;
  border-width: 3px;
}

div.shopBanner img {
  position: absolute;
  top: 0px;
  width: 1440px;
  height: auto;
  left: 0px;
  border-radius: 20px;
}

div#shoppingBackground {
  position: fixed;
  z-index: 250;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.clothBackground {
  background-color: #2f4a60;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23538db4' fill-opacity='0.4'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
/*
background: -webkit-linear-gradient(135deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), -webkit-linear-gradient(45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), rgb(0, 48, 51);
background: -moz-linear-gradient(-45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), -moz-linear-gradient(45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), rgb(0, 48, 51);
background: linear-gradient(-45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), linear-gradient(45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), rgb(0, 73, 76);
background-position: auto auto;
-webkit-background-origin: padding-box;
background-origin: padding-box;
-webkit-background-clip: border-box;
background-clip: border-box;
-webkit-background-size: 20em 20em;
background-size: 20em 20em;
*/
}

div.storeClothesLister {
  position: fixed;
  top: 330px;
  left: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  width: 1440px;
  height: 630px;
  overflow-x: hidden;
  overflow-y: auto;
  border-width: 3px;
  border-style: solid;
  border-radius: 12px;
  border-color: rgb(74, 109, 108);
  background-color: rgb(54, 61, 61);
}

div.shopControlRow {
  position: fixed;
  top: 330px;
  left: 1450px;
  right: 0px;
  height: 630px;
  margin: 0px;
  padding: 0px 8px;
  text-align:center;
}

div.ShopSortButtons {
  position: relative;
  text-Align: center;
  width: 90%;
  margin: 10px 0px;
  padding: 3px;
  line-height: 1;
  overflow: hidden;
  font-size: 1.5rem;
}

div.ShopSortButtons button {
  width: 50px !important;
  height: 30px;
}

div.ShopSortButtons h3 {
  margin: 0px 0px 10px;
}

div.shopControlRow button{
  color: #111;
  font-weight: 800;
  border-radius: 10px;
  border-width: 2px;
  font-size: 1.2rem;
  background-color: #40d365;
  border-color: #40d378;
  padding: 0px;
  line-height: 1;
  text-align:center;
}

div.shopControlRow button:hover {
  border-color: #9ffab3;
  background-color: #9ffacf;
}

div.shoppingStoreInfos {
  position: fixed;
  top: 75px;
  right: 10px;
  left: 1470px;
  height: 225px;
  text-align: center;
  color: #bbb;
  font-size: 1rem;
  line-height: 1.2;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
}

div#mainshits div#storeWindow {
  position: absolute;
  width: 530px;
  top: 270px;
  right: 30px;
  height: 650px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  border: none;
  border-radius: 15px;
  margin: 5px 0px 5px 30px;
  z-index: 0;
}



div#mainshits div#storeWindow img {
  display: block;
  max-width: 300px;
  border-radius: 8px;
  margin-bottom: 10px;
  z-index: 0;
  transition: all 0.3s ease 0.15s;
}

div#mainshits div#storeWindow img:hover {
  max-width: 500px;
  border-radius: 12px;
  z-index: 5;
}

div#mainshitschool {
  position: fixed;
  z-index: 5;
  top: 255px;
  bottom: 50px;
  left: 300px;
  right: 3px;
  margin: 0px;
  padding: 0px 50px 250px 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

div.schoolTitleBar {
  position: relative;
  display: block;
  width: 100%;
  margin: 15px auto 25px;
  border-style: solid;
  border-width: 2px;
  border-color: #436670;
  border-radius: 20px;
  min-height: 200px;
  max-height: 350px;
  text-align: center;
}

div.schoolTitleBar img {
  display: inline-block;
  margin: 5px;
  min-width: 300px;
  border-radius: 12px;
}

div#schoolRight {
  width: 50%;
  float: right;
  margin: 10px 0px 250px 50px;
}

div.school-course-box {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
  background-color: #203940;
  border-style: solid;
  border-width: 2px;
  border-color: #436670;
  border-radius: 12px;
  overflow: hidden;
  max-height: 200px;
  transition: all 0.3s ease-in-out 0.1s;
}

div.school-course-box:hover {
  max-height: 750px;
}

div.school-course-box p {
  text-align: justify;
  margin: 15px 0px 5px;
  padding: 0px;
}

div.school-course-box img {
  float: right;
  margin: 0px 0px 15px 25px;
  border-radius: 10px;
  min-width: 300px;
  max-width: 480px;
}



.bankBackground {
  background-color: #6eb06b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%2372a967' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%238bce7d' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%2372a967' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%238bce7d' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23a3f293' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%2394a660' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23b4c974' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23d4ed89' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23b4c974' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%2394a660' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23d4ed89' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%2394a660' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23d4ed89' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23b4c974' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23d4ed89' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
}

div.atmMenuCunt {
  width: 900px;
  height: 750px;
  margin: 0px;
  padding: 0px 15px 10px;
  border-radius: 8px;
  overflow-y: auto;
  color: #000;
}

div.atmMenuCunt img{
  max-width: 400px;
  max-height: 200px;
  margin: 0px;
}