
div.terminalCunt {
  width: 600px;
  height: 436px;
  padding: 5px;
  margin: 25px auto;
  background-color: #d0d0d0;
  border-radius: 10px 10px 0 0;
}

div.terminal-window {
  text-align: left;
  width: 600px;
  height: 380px;
  border-radius: 10px;
  margin: 0px;
  position: relative;
}

div.Terminalheader {
  background-color: rgb(121, 134, 146);
  color: #202020;
  font-size: 22px;
  font-family: VT323,
  Menlo,
  Monaco,
  "Consolas",
  "Courier New",
  "Courier";
  height: 30px;
  border-radius: 8px 8px 0 0;
  padding: 3px 10px;
  margin: 0px;
  position: relative;
  width: 580px;
  line-height: 1.2;
}

div.terminal-window section.terminal {
  color: white;
  font-family: VT323,
  Menlo,
  Monaco,
  "Consolas",
  "Courier New",
  "Courier";
  font-size: 11pt;
  background-color: #30353A;
  padding: 10px;
  position: relative;
  width: 580px;
  height: 380px;
  overflow: auto;
}

span.blink {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

div.terminal-window section.terminal .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.terminal-data { display: none; }
div.terminal-window .gray {
  color: rgb(156, 156, 156);
}
div.terminal-window .green {
  color: rgb(2, 190, 2);
}
div.terminal-window .red {
  color: rgb(233, 74, 74);
}
div.terminal-window .blue {
  color: rgb(34, 159, 241);
}
div.terminal-window .white {
  color: rgb(240, 240, 240);
}

div.terminal-window div.output {
  margin-left: 20px;
  padding: 0px;
  color: rgb(156, 156, 156);
}